<h3 class="mb-4">All Tasks</h3>

<div class="table-responsive shadow-sm rounded bg-white">
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Estimated Time</th>
        <th>Elapsed Time</th>
        <th>Course</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.forEach((task, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= task.title %></td>
          <td><%= task.estimated_time %> mins</td>
          <td><%= task.elapsed_time %> mins</td>
          <td><%= task.course?.title || 'N/A' %></td>
          <td><%= task.student?.name || 'N/A' %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
